
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&display=swap');
.content{
    display: inline;
}
img{
    border: solid 5px white;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
video {
    border: solid 5px white;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.darkbg{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.button-container{
    width: 1350px;
    margin-top: 2%;
    display: flex;
    justify-content: center;
}
.button{
    font-family: 'Montserrat', sans-serif;
    width: 200px;
    height: 60px;
    font-size: 22px;
    margin-right: 25px;
    margin-left: 25px;
    background-color: white;
    color: #8c03fc;
    border-color: white;
    border-style: solid;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}